html, body {
	color: #000;
	font-size: 15px;
	line-height: 22px;
	margin: 0;
	padding: 50px 0 0 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {
	color: #428bca;
  text-decoration: none;
  pointer-events: all !important;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-header .logo {
	display: inline;
	height: 24px;
}

.starter-template .maze-container {
	border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  height: 250px;
  margin: 20px auto;
  width: 287px;
  padding: 5px 4px;
}

.maze-container .wall-block {
	background: url(../resources/images/bricks.jpeg) no-repeat;
  display: inline-block;
  height: 23px;
  margin: -4px 0 -4px 0;
  width: 23px;
}

.maze-container .empty-space {
    display: inline-block;
    height: 23px;
    width: 23px;
    margin: -4px 0 -4px 0;
}

.animate {
	animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.character-south {
	transform: rotate(45deg);
}

.character-west {
	transform: rotate(135deg);
}

.character-north {
	transform: rotate(225deg);
}

.character-east {
	transform: rotate(315deg);
}


.footsteps-south {
	transform: rotate(90deg);
}

.footsteps-west {
	transform: rotate(180deg);
}

.footsteps-north {
	transform: rotate(270deg);
}

.footsteps-east {
	transform: rotate(0deg);
}

.footsteps-1 {
	background: green;
}


.footsteps-2 {
	background: tomato;
}

.maze-end {
	border: 2px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
  left: calc(50% - 168px);
  opacity: .9;
  padding: 3px;
	position: absolute;
	animation: pulse 5s ease-in;
  top: 6%;
}
